body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #000;
    color: #fff;
}

a {
    color: #1DA1F2; /* Twitter blue */
    text-decoration: none; /* Optional: remove underline */
}

a:hover {
    text-decoration: underline; /* Optional: add underline on hover */
}


.container {
    padding: 20px;
}

.help-strip {
    background-color: red;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 1.2em;
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.logo {
    max-width: 40%;
    height: auto;
}

.logo-container {
    text-align: center; /* Center-aligns the logo */
    margin-bottom: 20px; /* Space below the logo */
}


@media (max-width: 600px) {
    .help-strip, .footer {
        font-size: 1em;
    }
        }
